.siderbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriendImg {
  height: 30px;
  width: 30px;
  /* border: 3px solid #6735f1; */
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}
