.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(146, 146, 146);
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 10px;
}

.sidebarButton {
  width: 150px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
}

.sidebarButton:hover {
  border: 1px solid black;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.siderbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriendImg {
  height: 30px;
  width: 30px;
  /* border: 3px solid #6735f1; */
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}
